@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import "tailwindcss";

/* Thème clair/sombre */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Variables personnalisées */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Typographie et couleurs globales */
html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "EB Garamond", var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scène immersive */
.scene {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.scene-block {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.scene-block.active {
  opacity: 1;
  pointer-events: auto;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-touch {
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}
.font-garamond {
  font-family: "EB Garamond", serif !important;
}
.shadow-underline {
  box-shadow: inset 0 1.1em 0 #ac1115;
  display: inline;
}
.lettrine {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; /* ou ajusté selon ton texte */
}

.lettrine::first-letter {
  font-family: "EB Garamond", serif;
  font-size: clamp(3rem, 8vw, 6rem);
  color: black;
  float: left;
  line-height: 0.9;
  margin-top: -0.1em; /* réduit l’espace au-dessus */
  margin-bottom: -0.1em; /* réduit l’espace en dessous */
  padding-right: 0.1em; /* espace entre la lettrine et le texte */
}
